@model MayMeow.Blog.Entities.Content.Node

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create new post</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="FeaturedImage" class="control-label"></label>
        <input asp-for="FeaturedImage" class="form-control" />
        <span asp-validation-for="FeaturedImage" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Body" class="control-label"></label>
        <textarea asp-for="Body" class="form-control"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>